@charset "UTF-8";

/* merriweather-300 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/merriweather-v30-cyrillic_latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* merriweather-300italic - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
    src: url('./assets/fonts/merriweather-v30-cyrillic_latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* merriweather-regular - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/merriweather-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* merriweather-italic - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/merriweather-v30-cyrillic_latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* merriweather-700 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/merriweather-v30-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* merriweather-700italic - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    src: url('./assets/fonts/merriweather-v30-cyrillic_latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* merriweather-900 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/merriweather-v30-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* merriweather-900italic - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    src: url('./assets/fonts/merriweather-v30-cyrillic_latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* golos-text-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/golos-text-v4-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* golos-text-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/golos-text-v4-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* golos-text-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/golos-text-v4-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* golos-text-800 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/golos-text-v4-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
:root {
    --beige: #E7DBD0;
    --grey-dark: #595653; 
    --grey-light:#D0D0D0;
    --red-line:#F54932;
    --font:#313131;
    --beige2:#E9DED4;
    --btn-dark: #1F1F1F;
    --yellow:#FBCE51;
    --blau: #3057A2;
    --beige-gradient: #E8DCD1;
    --grey-dots: #D9D9D9;
    --white: #FFFFFF;

     /* Базовые размеры шрифтов для различных экранов */
    --font-size-xxlarge: clamp(24px, 2.5vw + 1rem, 36px);
    --font-size-xlarge: clamp(18px, 1.8vw + 1rem, 28px);
    --font-size-large: clamp(16px, 1.5vw + 1rem, 20px); 
    --font-size-medium: clamp(16px, 1.5vw + 1rem, 18px);
    --font-size-regular: clamp(14px, 1.2vw + 1rem, 16px);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: var(--font-size-regular);
    width: 100%;
}

body {
    font-family: 'Merriweather';
    color: var(--font);
    width: 100%;
    overflow-x: hidden;
    height: auto !important;
    min-height: 100%;
}

main {
    width: 100%;
    overflow: hidden;
}

h1{
    font-size: var(--font-size-xxlarge);
}

h2{
    font-size: var(--font-size-xlarge);
}

img {
    width: 100%;
    height: auto;    
}
/* * * * * * * Header * * * * * * */


 .header-wrapper {
    display: flex;
    flex-direction: column;
    background-image: url("/images/main-small-screen-empty.svg");
    background-size: contain; 
} 

.logo-text-buttons-wrapper {
    display: flex;
    align-items: flex-start;; 
    text-align: center;
    top:0;
    flex-direction: column;
    position: relative;
    
}

.logo { 
    height: 50px;
}

.logo img {
    width: 213px;
    height: 32px;
    margin: 18px 0 0 20px;
}

.texts-buttons-wrapper {
    display: flex;
    margin: 0 20px;
}

.header-text {
    display: flex;
    flex-direction: column; 
    padding-top: 40px;
    line-height: 111%;
    text-transform: uppercase;
    font-weight: 400;
}

.header-text span:nth-child(1),
.header-text span:nth-child(2) {
    text-align: left;
    width: 100%; 
}

.header-text span:nth-child(3) {
    text-align: center; 
    width: 100%; 
}

.header-text span:nth-child(4) {
    text-align: right; 
    width: 100%; 
}

.text-small {
    line-height: 130%;
    font-family: 'Golos Text';
    text-align: left;
    font-size:var(--font-size-medium);
    padding:24px 0 32px 0;
}

.buttons {
    display: flex;
    align-items: center;
    margin: 0 20px;
    position: absolute;
    top: 100%;
    flex-wrap: wrap;
    width: fit-content;
    left: 0%;
}

.button {
    display: inline-block;
    cursor: pointer;
    border: none;
    line-height: 130%;
    font-family: 'Golos Text';
    border-radius: 66px;
    text-decoration: none; 
    text-align: center; 
    transition: background-color 0.3s;
    width: 100%;
    padding:18px 20px 18px 20px;
}

.btn-black {
    margin-bottom: 7px;
    background-color: var(--btn-dark);
    color: var(--white);
}

.btn-white{
    margin-top: 7px;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--btn-dark);
}

.btn-black:hover {
    background-color: var(--yellow);
    color: var(--btn-dark);
}

.btn-white:hover {
    background-color: var(--btn-dark);
    color: var(--white);
}

.red-line {
    background-color: var(--red-line);
    color: var(--white);
    text-transform: uppercase;
    font-size: var(--font-size-regular);
    padding: 10px 0px;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Merriweather';
    line-height: 110%;
}

/* * * * * * * Section first * * * * * * */

#section-first {
    margin:48px 20px 0;
    width: auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.text-upper {
    font-size: var(--font-size-xlarge);
    text-transform: uppercase;
    font-weight: 400;
}

#section-first .text-upper {
    line-height: 135%;
    text-align: left;
}

.col-1-2.img-first {
    margin-top: 24px;
}

#section-first .red {
    color: var(--red-line);
    font-weight: 700;
}

/*  Responsive small screen */
@media (max-width: 768px) {
    .row-1 {
        display: flex;
        flex-direction: column;
    }

    .col-1,
    .col-2 {
        width: 100%;
    }

    .col-2 {
        display: none; 
    }

    .col-1-3 {
        padding-top: 24px; 
    }
}

/*  Responsive big screen */
@media (min-width: 769px) {
    .row-1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .col-1 {
        width: 50%; 
    }

    .col-2 {
        width: 50%; 
    }

    .col-1-2 {
        display: none; 
    }

    .col-1-3 {
        padding-top: 0; 
    }
}


/* * Table * */

.bold-text{
    font-weight: 600 !important;
    padding: 12px 0 16px 0;
    margin: 0 !important;
    color: var(--font)!important;
}

.styled-table {
    width: 100%;
    border-collapse: collapse; 
    border: none; 
    font-size: var(--font-size-medium2);
    color: rgba(49, 49, 49, 0.7);
    font-family: "Golos Text";
    margin: 44px 0 0 0;
    line-height: 24px;
    font-weight: 400;
}

.styled-table td {
    border: 1px solid grey;            
}

.styled-table tr:first-child td {
    border-top: 0; 
}

.styled-table tr td:first-child {
    border-left: 0; 
   
}

.styled-table tr:last-child td {
    border-bottom: 0; 
}

.styled-table tr td:last-child {
    border-right: 0; 
}
.styled-table tr:nth-child(1) td:nth-child(1) {
    padding-top:0;

}

.styled-table tr + tr {
    margin-top: 16px; 
}

.red-strike {
    position: relative;
    padding-right:2px;
    margin-right:2px;
    text-decoration: line-through;
    color: var(--red-line);
}

.red-strike::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--red-line);
}  



.text--wrapper h2 {
    margin-bottom: 20px;
    width: 100%; 
}

.img-first img {
    max-width: 100%;
    height: auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table td {

    border: 1px solid var(--grey-light);
}

#section-first .row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#section-first .row-2 .col-21 {
    flex: 1;
    max-width: 48%; 
}

#section-first .row-2 .col-22 {
    flex: 1;
    max-width: 48%; 
    display: flex;
    flex-direction: column;
}

#section-first .row-2 .col-22 .col-221,
#section-first .row-2 .col-22 .col-222,
#section-first .row-2 .col-22 .col-223 {
    flex: 1;
}

.blau {
    color: var(--blau);
    line-height: 21.6px;
    text-align: left;
    font-size:18px;
    font-family: "Golos Text";
}

#section-first .blau {
    margin-top: 24px;
}
/*   Responsive small screen */

@media (max-width: 768px) {
    #section-first .row-2 {
        flex-direction: column;
        margin-top:34px;
    }

    #section-first .row-2 .col-21,
    #section-first .row-2 .col-22 {
        max-width: 100%;
     
    }
    #section-first .row-2 .col-21 {
        margin-bottom: 24px; 

    }
}
/*  Table Responsive small screen */
@media (max-width: 768px) {
    .styled-table,
    .styled-table tr {
        display: block;
    }

    .styled-table td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid var(--grey-light);
    }

    tbody {
        display: block;
    }
   
    .styled-table tr:last-child td {
        border-bottom: none; 
    }

    .styled-table td:nth-child(1) {
        border: none; 
    }
}

/* Table  Responsive big screen */
@media (min-width: 768px) {
    .text-image-wrapper {
        flex-direction: row;
        text-align: left;
    }

    .text-image-wrapper h2 {
        flex: 1;
        margin-right: 20px;
    }

    .img-first {
        flex: 1;
    }
}

/* * * * * * * Section second * * * * * * */

#section-second {
    position: relative;
    margin: 120px 20px 0 20px;
}

#section-second h2 {
    font-size: 36px;
    line-height: 39.6px;
}

#section-second .blau {
    margin-top: 12px;
}

/* Carousel */

#section-second .carousel img {
    width: 2rem;
    height: 2rem;
}

.plane {
    position: relative;
    z-index: 100;
    margin-top:20px;
}

.carousel {
    position: relative;
    top: -50px;
    overflow: hidden;
    min-height: 300px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    background-image: url(/images/copper_beige.png);
    background-size: cover;
    background-position: center;
    padding: 62px 24px 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--font);
    font-family: "Golos Text";
    font-size: 18px;
    text-align: center;
}

.carousel-item .content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.content p {
    padding: 0 0 10px 16px;
    text-align: left;
}

.carousel-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    margin-top: 28px;
}

.carousel-control {
    background: none; 
    border: none;
    padding: 0; 
    cursor: pointer;
    pointer-events: auto; 
}


.carousel-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px 16px;
}

.carousel-dots .dot {
    width: 10px;
    height: 10px;
    margin: 0 3px; 
    background-color: var(--grey-dots);
    border-radius: 50%;
    cursor: pointer;
}

.carousel-dots .dot:first-child {
    margin-left: 0; 
}

.carousel-dots .dot:last-child {
    margin-right: 0; 
}

.carousel-dots .dot.active {
    background-color: var(--font);
}

.carousel-controls {
    position: relative;
    top: auto;
    width: 100%;
}


/* * * * * * * Section third * * * * * * */

#section-third {
    margin: 70px 20px 0 20px;
}

.carousel-participant {
    position: relative;
    overflow: hidden;
    width: auto;
    
}

.carousel-participant-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-participant-item {
    flex: 0 0 100%;
    box-sizing: border-box;
    border: none; 
}
#section-third h2 {
    line-height: 110%;
    font-size: var(--font-size-xxlarge);
}

.content-participant {
    text-align: center;
    
}

.content-participant img {
    max-width: 320px;
    border-radius: 50%;
}

.carousel-controls-participant {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.carousel-control-participant {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.carousel-dots-participant {
    display: none; 
}

.slide-number {
    display: block;
    text-align: center;
    margin: 12.5px;
    font-size: 16px; 
    font-family: "Golos Text";
}

.content-participant img{
    width: 100%;
    height: auto;
    padding:40px 45px 28px 45px;
}

.content-participant p {
    font-family: "Golos Text";
} 

.name{
   font-weight: 600;
   font-size: 24px;
   color: var(--font);
}

.status {
    font-size: 20px;
    color:  rgba(49, 49, 49, 0.6);
    padding-top: 8px;
}

.content-participant a {
    display: inline-block;
    padding: 12px;
    margin:20px auto 40px auto;
    background-color: var(--white);
    color: var(--blau);
    border: 1px solid var(--blau);
    border-radius: 62px; 
    text-decoration: none; 
    font-family: "Golos Text";
    font-size: 16px;
}

.content-participant a:hover {
    background-color: var(--blau);
    color: var(--white);
}


.carousel-participant-item {
    flex: 0 0 calc(100% / 3); /* По умолчанию показываем по три слайда в ряд */
    box-sizing: border-box;
    border: none;
}

@media (max-width: 768px) {
    /* Для мобильных устройств показываем по одному слайду в ряд */
    .carousel-participant-item {
        flex: 0 0 100%;
    }
}


/* * * * * * * Footer * * * * * * */

footer {
    margin-top: 100px;
    width: 100%;
    text-align: center; 
 
}

.red-line.second {
    position: relative;
    top: 0;
}

footer .div-down {
    background-color: var(--beige2);
    line-height: 120%;
    font-family: "Golos Text";
    font-size: 16px;
    color: rgba(49, 49, 49, 0.6);
    text-align: left; 
    padding: 78px 20px 60px 20px; 
    
 
}
