
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?19tvwj');
  src:  url('fonts/icomoon.eot?19tvwj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?19tvwj') format('truetype'),
    url('fonts/icomoon.woff?19tvwj') format('woff'),
    url('fonts/icomoon.svg?19tvwj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
    --yellow: #FBCE51;
    --grey-dots: #D9D9D9;

}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 36px;
  line-height: 1;
  width: 36px;
  height: 36px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover {
  color: var(--yellow);
}

[class^="icon-"]:disabled, [class*=" icon-"]:disabled {
  color: var(--grey-dots);
}

.icon-chevron-circle-right:before {
  content: "\e901";
  display: block;
  line-height: 36px; 
}

.icon-chevron-circle-left:before {
  content: "\e900";
  display: block;
  line-height: 36px; 
}
